* {
    margin: 0;
    padding: 0;
}

#sidebar {
    height: 100vh;
    margin: 20px 10px 0 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

main {
    max-width: 1600px;
    min-width: 1200px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#mainContent {
    height: 100vh;
    margin: 20px 20px 0 20px;
}

#container {
    padding: 0 0 0 10px;
}

#weatherInfo {
    height: 20vh;
    border: 3px solid black
}

#cityInput {
    width: 100%;
    margin: 0 0 5px 0;
}

button {
    width: 100%;
}

.forecast-card {
    border: 2px solid black;
    width: 140px;
    margin: 0 10px 0 10px;
}

#searchHistory {
    margin: 10px 0 0 0;
}

.previousSearch {
    margin: 10px 0 0 0;
}